/*variables go here*/
:root {
  /*font families*/
  --ff-main: Raleway, sans-serif;
  --ff-headings: "Josefin Sans", sans-serif;
  
  /*font weight*/
  --fw-bold: 600;
  --fw-bolder:900;
  
  /*font size*/
  
  --fw-small: .825rem;
  --fs-large: 1.5rem;
}

* {
  outline: 1px solid rgba(0,0,0,0);
}

/* ==== rebuilding css after reset */
html{
  color-scheme: light;
  font-family: "Fraunces", serif;
}
ul, ol {
  margin: 1em;
  padding-left: 30px;
}
h1, h2 {
  font-size: 1.5em;
  font-weight: var(--fw-bold);
  font-family: var(--ff-headings);
  margin-top: 20px;
  margin-bottom: 10px;
}
/* === done rebuilding ua css */

/* === stick everything to a grid */
body{
  background-color:#dfa7a7;
}

#layout{
  display:grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 2 1fr;
}

main{
  grid-column: 2;
  grid-row: 2;
  max-width: 99.75rem;
}

h1{
  color: #a10000;
  /*remove leaking margin*/
  /* margin-top: 0; */
}

article {
  background-color:white;
  padding-left: 15%;
  padding-right: 15%; 
  padding-top: 1px;
  padding-bottom: 30px;
}
#description{
  background-color: #ebebeb;
  padding: 20px;
  font-size: 1.25rem;
}

#topImage{
  width: 100%;
  object-fit: fill;
  margin-bottom: 0px;
  display: block;
}

.gallery{
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 10px;

  .imgWrapper{
    flex: 1;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0;

    img{
      width: 100%;
      height: 100%;
      object-fit:cover;
      object-position: center;
    }
  }
}

@media (max-width: 1200px) {
  #layout{
    grid-template-columns: 0 1fr 0;
  }
  .gallery{
    flex-direction: vertical;
    flex-flow: column nowrap;
  }
  article{
    padding-left: 10px;
    padding-right: 10px;
  }
  main > .imgWrapper{
    overflow:hidden;
    img{
      height: 200%;
      object-fit: cover;
      object-position: center;
    }
  }
}